@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

* {
  transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}

body {
  @apply bg-slate-100 text-slate-800;
}
